.button {
    cursor: pointer;

    border: none;
    outline: none;

    background-color: #17c57d;
    box-shadow: 0 2px 0 rgba(0, 153, 100, 0.15);

    color: #fff;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;

    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
        background-color: #3dda93;
    }

    &:disabled {
        cursor: not-allowed;
        
        background-color: rgb(55, 65, 81);
        box-shadow: 0 2px 0 rgba(55, 65, 81, 0.15);
    }
}