* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: space-between;
}

body {
  overflow: hidden;
  margin: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-left {

}

.app-right {
  max-height: 100vh;
  overflow: auto;
}

.app-right {
  padding: 50px;

  display: flex;
  flex-direction: column;
  flex: auto;

  background-color: #000;
}

.app-block {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border: 1px solid #303030;
  border-radius: 10px;

  background-color: #141414;
}

.app-block:not(:last-child) {
  margin-bottom: 30px;
}

h2 {
  margin: 0;

  font-weight: 600;

  font-size: 24px;

  margin-bottom: 20px;
}